<% layout('master') %>
<div class="bg-light p-5 rounded">
    <h1>Express.js template</h1>
    <p class="lead">This template demonstrates a simple server-side application using express.js, bootstrap, babel and jest for unit testing.</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Continue
        &raquo;</a>
</div>